@charset "utf-8";

#photograph {
	background-image: url(../images/bg-photograph.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	width: 90%;
	margin: 0 auto;
}

.logo h2 {
	color: #f7f6f4;
	font-size: 2em;
	text-shadow: 1px 1px 1px #767671;
	font-family: 'Bitter',serif;
}

h2 {
	font-size: 2rem;
}

.photograph-list {
	display: flex;
	flex-wrap: wrap;
}

.photograph-list li {
	list-style: none;
	margin: 0 3px;
	margin: 0 auto;
}

.main h1 {
	font-family: 'Bitter',serif;
	font-size: 2rem;
	text-align: center;
}

.icon {
	margin: 0;
	font-size: 24px;
}

.sidebar {
	font-family: 'Bitter',serif;
	display: flex;
	justify-content: space-around;
}

.sidebar h2 {
	color: #000000;
	margin: 0;
}
.sidebar ul {
	font-size: 16px;
	margin-left: 20px;
}

.sidebar section li {
	margin: 0;
}

.sidebar ul a {
	color: #333333;
}

footer {
	background-color: #767671;
}

@media screen and (min-width: 768px) {
	.content {
		width: 80%;
		margin: 0 auto;
	}

	.sidebar h2 {
		text-align: left;
	}
}

@media screen and (min-width: 1024px) {
	.content {
		display: flex;
	}

	.sidebar {
		display: block;
		width: 20%;
		margin-top: 80px;
	}
}

@media screen and (min-width: 1340px) {
	.content {
		width: 100%;
	}

	.main {
		width: 65%;
		margin: 0 auto;
	}
}