@charset "utf-8";

h1 {
	margin: 50px 0 30px;
	}

hr {
	width: 90%;
}

/*---------------------------
Layout (Design)
------------------------------*/
main img {
	width: 100%;
}

h1 {
	font-family: 'Bitter', serif;
	text-align: center;
}

/*-------------------
	h2 (main)
--------------------*/
h2 {
	font-family: 'Bitter', serif;
	text-align: center;
}

span {
	font-size: 1.1rem;
	font-family: sans-serif;
	color: #5d5b5b;
}

/*-------------------
	Layout Main
--------------------*/
main img {
	max-width: 100%;
}

.contents-box {
	margin: 0 10px;
	margin-bottom: 2rem;
	padding: 0.8rem;
	background-color: #d8d5d5;
}

.contents-box img {
	display: block;
	margin-bottom: 2rem;
	width: 100%;
}

.contents-box h2 {
	margin-bottom: 2rem;
	font-size: 2.2rem;
	text-align: center;
}

main p {
	font-size: 1.5rem;
	line-height: 1.3;
	margin: 5px 5px 20px;
}


@media screen and (min-width: 480px) {
body {
	font-size: 1.8rem;
	}

main {
	width: 100%;
	}

.contents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.contents-box {
	width: 80%;
	height: auto;
	}

.contents-box img {
	height: auto;
	}
}

@media screen and (min-width: 600px) {
	ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	}

nav a {
	font-size: 2rem;
	}

.contents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.contents-box {
	width: 42%;
	height: fit-content;
	}

h2 {
	font-size: 2.3rem;
	}

h3 {
	text-align: center;
	}
}

@media screen and (min-width: 960px) {

.contents-box {
	width: 20%;
	margin: 3px 3px;
	}
}