@charset "utf-8";

body {
	margin: 0 auto;
	font-family: 'Bitter', serif;
}

h1 {
	font-size: 2.5rem;
	text-shadow: #000000;
}

h1 a {
	display: inline-block;
	padding-left: 10px;
	font-size: larger;
}

a:hover {
	color: #bab3b2;
}

a:visited {
	color: #90fd76;
}

#index {
	background-image: url(images/index-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-wrap {
	max-width: 1440px;
	min-height: 657px;
	padding-bottom: 80px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

#select {
	font-family: monospace;
}

ul {
	list-style-type: none;
	padding: 0;
}

li a {
	align-items: center;
	font-size: 17px;
	font-weight: bold;
	color: #90fd76;
	line-height: 2;
}

span {
	display: inline-block;
}

.left-side p {
	font-size: 2.5rem;
	text-shadow: 1px 1px 1px #bab3b2;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	margin: 0;
	padding: 50px;
}

.right-side h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 1.8rem;
	color: #ffffff;
}

form {
	text-align: center;
	background-color: #ffffff4a;
	margin: 0 50px;
}

dl {
	margin: 0;
}

dt,dd {
	margin: 0 auto;
	height: 30px;
	line-height: 30px; /*縦中央寄せ*/
}

dt {
	color: #ffe200;
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}

input {
	height: 20px;
	border-radius: 10px;
}

.btn {
	width: 100px;
	height: 35px;
	border-radius: 5px;
	margin: 20px;
	color: #fff;
	background-color: #2eb7ed;
	border: 3px solid #2eb7ed;
}

.btn:hover {
	background-color: #ffffff;
	color: #2eb7ed;
	font-weight: bold;
}

#about {
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
}

article p {
	margin: 0 auto;
	background-color: #0006;
	width: 90%;
	line-height: 1.5;
	color: #ffffff;
}

#comment {
	text-align: center;
	color: #ffffff;
}

h3 {
	margin: 8px;
}

#name {
	height: 20px;
}

.message {
	width: 300px;
	height: 100px
}

.button {
	width: 100px;
	height: 35px;
	border-radius: 5px;
	color: #fff;
	background-color: #2eb7ed;
	border: 3px solid #2eb7ed;
	margin: 0 auto;
	display: block;
}

footer {
	text-align: center;
	color: #000000;
	padding: 5px 0;
	background-color: #bab3b2;
}

@media screen and (min-width: 900px) {
	li {
		padding: 20px;
	}


	.contents {
		display: flex;
		padding: 50px;
	}

	.left-side {
		width: 70%;
	}

	ul {
		display: flex;
	}

	form {
		margin: 0;
		padding: 60px;
	}

	.main-wrap {
		padding: 0;
	}
}
