@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
	color: #333333;
	font-size: 15px;
	line-height: 2;
}

h2 {
	font-size: 2rem;
}

.icon {
    margin: 0;
    font-size: 24px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font-family: 'Bitter',serif;
	text-align: center;
}

.icon {
	text-align: left;
}

.icon:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

hr {
	width: 80%;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: #3583aa;
	text-decoration: none;
}

a:visited {
	color: #788d98;
}

a:hover {
	text-decoration: underline;
}

header {
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.global-nav {
	margin-top: 30px;
	text-shadow: 1px 1px 5px #545454;
}

.global-nav li {
	font-size: 20px;
	list-style: none;
	font-family: 'Bitter', serif;
}

.global-nav li a {
	color: #ffffff;
}

.global-nav li a:hover {
	border-bottom: 2px solid #ffffff;
	padding-bottom: 3px;
	text-decoration: none;
}

#wrap {
	background-color: #ffffff;
	margin-top: 220px;
	padding: 35px 0;
}

footer {
	text-align: center;
	color: #ffffff;
}

footer small {
	font-size: 12px;
}

@media screen and (min-width: 768px) {
	header {
		display: flex;
		justify-content: space-between;
	}
h2 {
		margin: 50px;
		font-size: 2.5rem;
	}
header ul {
		display: flex;
	}
li {
		margin: 50px 30px;
	}